/.vscode/
**/__mocks__/
**/__tests__/

*.log
*.tar.gz
*.tgz

/.dockerignore
/.gitignore
/.npmignore
/.prettierrc

/Dockerfile*

/jest.config.json
/tsconfig.build.json
/tsconfig.test.json
/tslint.json
