/.vscode/
/coverage/
**/__mocks__/
**/__tests__/

*.log
*.tar.gz
*.tgz

/.dockerignore
/.gitignore
/.npmignore
/.prettierrc
/.prettierignore

/Dockerfile*

/jest.config.json
/tsconfig.build.json
/tsconfig.build-cli.json
/tsconfig.test.json
/tslint.json
